@{
    var emplyees = ViewData["employee"] as IEnumerable<WebDemo.Models.Employee>;
}

@foreach (var employee in emplyees)
{
<div>
    <h3>@employee.Fullname</h3>
    <img src="@Html." alt="ảnh" />
    <h4>@employee.Email</h4>
    <h4>@employee.Department</h4>
</div>
}
